body {
  display:flex;
  flex-direction: column
}

header {
  background-color: #ffdbaa;
  border: solid black 1px;
}

h1 {
  color: #553100;
  display: inline-block;
  margin: 2%;
}

nav {
  display: inline-block;
  float: right;
  margin: 1%;
}

nav > button {
  background-color: #805215;
  color: white;
  display: inline-block;
  margin: 15px;
  width: 75px;
  height: 40px;
}

main {
  background-color: #d4a76a;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

aside {
  background-color: #d4a76a;
  display: flex;
  flex-direction: column;
  justify-content: space-around
}

.flights,
.groupTrips,
.discountFlights {
  height: 200px;
  width: 250px;
  margin: 3% auto;
  padding: 2%;
  background-color: white;
  border: solid black 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.aboutUs {
  max-height: 30%;
  max-width: 100%;
  margin: 2.5% 5%;
  padding: 2%;
  background-color: white;
  border: solid black 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

dl {
  text-align: center;
  font-weight: bold;
}

section > button {
  background-color: #805215;
  color: white;
  width: 90%;
  height: 40px;
  margin: 2.5% 3%;
}
