header {
  background-color: #ffdbaa;
  float: top;
  display: in-line block
}
nav > button {
  background-color: #805215;
  color:white;
  float: right;
  display:in-line block;
  margin:10px
}
main > button {
  background-color: #805215;
  color:white;
  float: bottom;
  display:in-line block;
  width:auto
}
header.h1 {
  font-color: #553100;
}

main {
  background-color: #d4a76a;
  float:bottom;
  display:in-line block
}

section {
  background-color:white
}
