header {
  background-color: #ffdbaa;
  float: top;
  border: solid black 1px
}

header.h1 {
  font-color: #553100;
}

nav > button {
  background-color: #805215;
  color:white;
  display:inline block;
  margin:15px;
  width:75px;
  height:40px
}

main {
  background-color: #d4a76a;
  float:bottom;
  display:inline block
}

main > section {
  max-height:30%;
  max-width:20%;
  display:inline;
  margin: 0 auto;
  background-color:white
}

main > section > button {
  background-color: #805215;
  color:white;
  float: bottom;
  display:inline block;
  width:100%;
  height:40px
}
