header {
  background-color: #ffdbaa;
  float: left;
  display: in-line block
}
button {
  color: #805215;
  float: right;
  display:in-line block
}
header.h1 {
  font-color: #553100;
}

main {
  background-color: #d4a76a;
}

section {
  background-color:white
}
